#p1
{
    background-color: aquamarine;
    height: 400px;
    width: auto;

}
#p2
{
    

  background-color: rgb(104, 151, 223);
  height: 400px;
  width: auto;

}
#p3
{


background-image: url(city.jpg);
height: 300px;
  width: 600px;
  float:right;
  margin: 50px;
}
    
#p4
{
    background-image: url(pune.jpg);
    height: 300px;
    width: 400px;
    float: left;
    margin: 50px;
}